</body>
<script>
  function updateImage(id) {
    const img = document.getElementById(id);
    if (window.innerWidth >= 585) {
      img.src = "assets/images/pattern-squiggly-line-bottom-desktop.svg";
    } else {
      img.src = "assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg";
    }
  }


  // Initial check
  updateImage('big-curve');

  // Update on resize
  window.addEventListener('resize', () => updateImage('big-curve'));
</script>
</html>