<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Generator</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <img src="assets/images/logo-full.svg" id="logo-full" alt="Code Conf logo">

  <img src="assets/images/background-desktop.png" class="bg main-bg">
  <img src="assets/images/pattern-lines.svg" class="bg lines">
  <img src="assets/images/pattern-squiggly-line-top.svg" class="bg small-curve">
  <img src="assets/images/pattern-squiggly-line-bottom-desktop.svg" class="bg big-curve" id="big-curve">