<%- include('header.ejs') %>
  
<main>
  <h1>Congrats, /someone/ ! Your ticket is ready.</h1>
  <p>We've emailed your ticket to /email/ and will send updates in the run up to the event.</p>

  <div id="ticket">
    <img src="../assets/images/logo-full.svg" alt="Coding Conf logo">
    <p>
      /date/  /   /loc/
    </p>
    <img src="../assets/images/pattern-ticket.svg" style="z-index: -1;" alt="">
  </div>
</main>

<%- include('footer.ejs') %>