<%- include('header.ejs') %>
  
<main id="main-2">
  <div class="confirmation">
    <h1>Congrats, /someone/! Your ticket is ready.</h1>
    <p>We've emailed your ticket to /email/ and will send updates in the run up to the event.</p>
  </div>
  
  
  <div id="ticket">
    <img src="assets/images/pattern-ticket.svg" alt="Ticket Image" class="bg" id="ticket-bg">
    <div id="content">
      <img src="assets/images/logo-full.svg" alt="Coding Conf logo">
      <p>
        /date/ / /loc/
      </p>
    </div>
  </div>

</main>

<%- include('footer.ejs') %>