body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  color: white;
}

body {
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: regular-font;
}

@font-face {
  font-family: "regular-font";
  src: url("../assets/fonts/static/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "extra-bold-font";
  src: url("../assets/fonts/static/Inconsolata-ExtraBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bold-font";
  src: url("../assets/fonts/static/Inconsolata-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "special-font";
  src: url("../assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: extra-bold-font;
  font-size: 2.6rem;
  text-align: center;
  width: 38rem;
}

main {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

form {
  width: 23rem;
}

#drop-area {
  border: 1px dashed rgb(103, 103, 103);
  border-radius: 15px;
  width: 102%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(74, 74, 74, 0.312);
  cursor: pointer;
}

#drop-area input {
  display: none;
}

#drop-area > label {
  cursor: pointer;
}

#upload-icon {
  border: 0.1px solid rgb(103, 103, 103);
  border-radius: 10px;
  padding: 0.3rem;
  cursor: pointer;
}

.input-area {
  width: 100%;
  color: white;
  background-color: rgba(74, 74, 74, 0.312);
  border: 0.1px solid rgb(147, 147, 147);
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-family: special-font;
  font-size: 1rem;
}

.input-area:focus {
  border: 3px solid white;
}

label p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.btn {
  width: 104%;
  margin-top: 10px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: hsl(7, 88%, 67%);
  font-family: extra-bold-font;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(7, 71%, 60%);
}

.confirmation {
  position: relative;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.img-btns {
  border: none;
  border-radius: 2px;
  background-color: hsl(245, 19%, 35%);
}

#content p {
  margin-left: 50px;
}

#ticket {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
}

#ticket-bg {
  width: auto;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 2rem;
  z-index: 0;
}

#content {
  position: relative;
  top: 15px;
  padding: 20px;
  left: 30px;
  z-index: 1;
  color: white;
  text-align: left;
}

#logo-full {
  padding-top: 30px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.main-bg,
.lines {
  height: 100vh;
  width: 100%;
}

.big-curve {
  position: absolute;
  bottom: 0;
  top: auto;
}

.small-curve {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

@media (max-width: 800px) {
  #ticket {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
  }

  #ticket-bg {
    width: auto;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
  }

  #content {
    position: relative;
    top: 15px;
    padding: 15px;
    left: 6rem;
    z-index: 1;
    color: white;
    text-align: left;
  }
}

@media (max-width: 585px) {
  form {
    width: 20rem;
  }

  form input {
    height: 30px;
  }

  #drop-area {
    height: 7rem;
  }

  .hero {
    max-width: 30rem;
    text-align: center;
  }

  h1 {
    font-family: extra-bold-font;
    font-size: 2rem;
    text-align: center;
    width: 23rem;
    left: 0;
  }

  main > p {
    max-width: 20rem;
    text-align: center;
  }

  .big-curve {
    max-width: 15rem;
  }
}
