<header>
  <img
    src="{{ url_for('static', filename='assets/images/logo-full.svg') }}"
    id="logo-full"
    alt="Code Conf logo"
  />
  <img
    src="{{ url_for('static', filename='assets/images/background-desktop.png') }}"
    class="bg main-bg"
  />
  <img
    src="{{ url_for('static', filename='assets/images/pattern-lines.svg') }}"
    class="bg lines"
  />
  <img
    src="{{ url_for('static', filename='assets/images/pattern-squiggly-line-top.svg') }}"
    class="bg small-curve"
  />
  <img
    src="{{ url_for('static', filename='assets/images/pattern-squiggly-line-bottom-desktop.svg') }}"
    class="bg big-curve"
    id="big-curve"
  />
</header>
